html {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  background: #ccc;
}

body {
  margin: 0px;
  padding: 10px;
}

/* =================================================================== */
/* Selection CSS */
*::selection, *::-moz-selection {
  color: white;
  background: black;
}

.nav-window-header::selection, .nav-window-header::-moz-selection {
  color: black;
  background: white;
}

/* =================================================================== */
.windows {
  display: flex;
  flex-direction: row;
}

/* =================================================================== */
/* Navigation Area */
.nav-window-area {
  font-size: 12px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-window,
.feels-window {
  margin-left: 10px;
  width: 150px;
  height: fit-content;

  background: white;
}

.nav-window-header,
.feels-window-header {
  padding: 2px 4px;
  margin: 0px;

  background: black;
  color: white;
  font-weight: bold;
}

.nav-button-container,
.feels-button-container {
  border: solid 1px black;
}

.nav-button {
  padding: 1px 3px;
  display: block;
  
  border-top: solid 1px black;

  color: black;
  text-decoration: none;
}

.nav-button:hover {
  background: #ccc;
}

/* =================================================================== */
/* Feels Area */
.feels-window {
  margin-top: 20px;
}

.feels {
  padding: 0px 5px;
}

/* =================================================================== */

.main {
  min-height: 500px;
  width: 550px;

  background: white;
  border: solid 1px black;
  padding-bottom: 75px;
}

.text-bounds {
  margin: 5px 15px;
}

/* =================================================================== */
/* Headers */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
  font-size: 12px;
  font-weight: normal;
  margin-right: 10px;
}

h1:before { content: "h1"; }
h2:before { content: "h2"; }
h3:before { content: "h3"; }
h4:before { content: "h4"; }
h5:before { content: "h5"; }
h6:before { content: "h6"; }

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18px;
}

.subtitle {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.subtitle:before {
  content: "sub:";
  margin-right: 10px;
}

.jacaranda {
  display: flex;
  flex-direction: column;
  width: 702px;
  margin-bottom: 40px;
}

.title {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  /* border-radius: 20px 20px 0px 0px; */
  margin-bottom: 15px;
  background: white;
}

.title > p {
  width: fit-content;
  height: fit-content;
}

.carambola {
  display: flex;
  width: 700px;
  background: white;
  border: solid 1px black;
  background: white;
}

.side-panel {
  flex: 2;
  background-image: url('/assets/2x2_1.png');
  padding-top: 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
}

.side-panel-header {
  font-weight: bold;
  padding: 1px 5px 2px;
  margin: 4px 5px 0px;
  background: black;
  color: white;
  box-shadow: 0px 0px 0px 1px white;
}

.side-panel-button {
  display: block;
  /* width: 100%; */
  border: solid 1px black;
  border-top: none;
  padding: 1px 5px;
  /*
  background: linear-gradient(180deg,rgba(245, 245, 245, 1) 0%, rgba(199, 199, 199, 1) 100%);
  */
  text-decoration: none;
  color: black;
}

.side-panel-button:hover {
  /*
  background: linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(199, 199, 199, 1) 100%);
  */
  background-image: url("/assets/5x5_1.png");
}

.side-panel-category {
  position: relative;
  top: -1px;
  z-index: 0;
  background: white;
  margin: 0px 5px 10px;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 1px 1px 0px 0px white, -1px 1px 0px 0px white;
}

