html {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  image-rendering: crisp-edges;
  width: 100%;
  height: 100%;
  background: #ccc;
}

body {
  margin: 0px;
  padding: 10px;
}

/* =================================================================== */
/* Selection CSS */
*::selection, *::-moz-selection {
  color: white;
  background: black;
}

.nav-window-header::selection, .nav-window-header::-moz-selection {
  color: black;
  background: white;
}

/* =================================================================== */
.windows {
  display: flex;
  flex-direction: row;
}

/* =================================================================== */
/* Navigation Area */
.nav-window-area {
  font-size: 12px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-window,
.feels-window {
  margin-left: 10px;
  width: 150px;
  height: fit-content;

  background: white;
}

.nav-window-header,
.feels-window-header {
  padding: 2px 4px;
  margin: 0px;

  background: black;
  color: white;
  font-weight: bold;
}

.nav-button-container,
.feels-button-container {
  border: solid 1px black;
}

.nav-button {
  padding: 1px 3px;
  display: block;
  
  border-top: solid 1px black;

  color: black;
  text-decoration: none;
}

.nav-button:hover {
  background: #ccc;
}

/* =================================================================== */
/* Feels Area */
.feels-window {
  margin-top: 20px;
}

.feels {
  padding: 0px 5px;
}

/* =================================================================== */

.main {
  min-height: 500px;
  width: 550px;

  background: white;
  border: solid 1px black;
  padding-bottom: 75px;
}

.text-bounds {
  margin: 5px 15px;
}

/* =================================================================== */
/* Headers */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18px;
	margin-top: 24px;
}

h3 {
	font-size: 16px;
	font-style: italic;
	margin-top: 20px;
}

.subtitle {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.subtitle:before {
  content: "sub:";
  margin-right: 10px;
}

ul {
	margin: 10px 0px;
	padding-left: 20px;
}

/* =================================================================== */
/* Backwards */
.backwards {
	margin-top: 10px;
	margin-right: 20px;
	width: fit-content;
	float: right;
}

.backwards > a {
	color: black;
}

p {
	margin: 10px 0px;
}

:target {
	background: black;
	color: white;
}
